<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>
<!-- Main content -->

<section class="content">
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="callout col-lg-4 callout-info">
            <center>
                <h1>Total Amount: <%= totalAmount %> Rwf</h1>
                <h4>From: <%= startDate.toDateString() %> <br> To: <%= endDate.toDateString() %></h4>
            </center>
        </div>
    </div>

    <div class="c">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Partnership History</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <form action="/admin/pledges/partnerships/dated" method="post">
                                <div class="form-group">
                                    <label>Date range:</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="datespan" class="form-control pull-right"
                                            id="reservation">
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <button type="submit" class="btn btn-block btn-primary">Submit</button>

                            </form>
                        </div>
                    </div>
                    <br>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Names</th>
                                <th>Fellowship</th>
                                <th>Partnership Arm</th>
                                <th>Amount</th>
                                <th>Given On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let pledge of pledges){  %>
                            <tr>
                                <td><%= pledge.member.firstname %> <%= pledge.member.lastname %></td>
                                <td><%= pledge.member.fellowship.name || "None"%></td>
                                <td><%= pledge.partnership.name%></td>
                                <td><%= pledge.amount%></td>
                                <td><%= pledge.createOn.toDateString()%></td>
                                <td> <a href="/admin/pledges/partnerships/member/<%= pledge.member._id %>"
                                        class="btn btn-block">
                                        <li class="fa fa-list"></li>
                                    </a> </td>
                            </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Names</th>
                                <th>Fellowship</th>
                                <th>Partnership Arm</th>
                                <th>Amount</th>
                                <th>Given On</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<script>

</script>

<%- include('../includes/footer.ejs') %>