<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>
<!-- Main content -->
<section class="content">
    <div class="c">
        <!-- left column -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Member Registration</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <form role="form" action="/admin/members" method="POST">
                    <div class="form-group col-lg-6">
                        <label for="firstname">First Name</label>
                        <input type="firstname" name="firstname" class="form-control" id="firstname"
                            placeholder="Enter First Name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="lastname">Last Name</label>
                        <input type="lastname" name="lastname" class="form-control" id="lastname"
                            placeholder="Enter Last Name">
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Phone Number:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i> . +25
                            </div>
                            <input type="text" name="phoneno" class="form-control"
                                data-inputmask="'mask': ['9999-999-999', '+099 99 99 9999[9]-9999']" data-mask>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Date Of Birth:</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="dob" class="form-control pull-right" id="datepicker">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fellowship</label>
                            <select class="form-control select2" name="fellowship" style="width: 100%;">
                                <option selected="selected">None</option>
                                <% for(let fellowship of fellowships){  %>
                                <option value="<%= fellowship._id %>"><%= fellowship.name%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <!-- radio -->
                    <div class="col-lg-12">
                        Gender
                    </div>
                    <div class="form-group col-lg-12">

                        <label>
                            <input type="radio" name="gender" value="Male" class="minimal" checked>
                            Male
                        </label>
                        <label>
                            <input type="radio" name="gender" value="Female" class="minimal">
                            Female
                        </label>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Members List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Names</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Fellowship</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let member of members){  %>
                        <tr>
                            <td><%= member.firstname %> <%= member.lastname %></td>
                            <td><%= member.email || "None"%></td>
                            <td><%= member.phonenumber || "None"%></td>
                            <td><%= member.fellowship.name || "None"%></td>
                            <td><%= member.gender%></td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Names</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Fellowship</th>
                            <th>Gender</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>

<script>

</script>
<!-- /.content -->

<%- include('../includes/footer.ejs') %>