<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>
<!-- Main content -->
<section class="content">
    <div class="c">
        <!-- left column -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Partnership Pledge Record</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <% if (typeof error != 'undefined') { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>
                <form name="partnership" role="form" action="/admin/pledges/partnerships" method="POST">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Members</label>
                            <select class="form-control select2" name="member" style="width: 100%;">
                                <option selected="selected">None</option>
                                <% for(let member of members){  %>
                                <option value="<%= member._id %>"><%= member.firstname%> <%= member.lastname%>
                                    (<%= typeof member.fellowship != 'undefined' ? member.fellowship.name : "None" %>)
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Partnership Arms</label>
                            <select class="form-control select2" name="partnership" style="width: 100%;">
                                <option selected="selected">None</option>
                                <% for(let partnership of partnerships){  %>
                                <option value="<%= partnership._id %>"><%= partnership.name%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="amount">Amount</label>
                        <input type="number" value="<%= typeof errorValues != 'undefined' ? errorValues.amount : '' %>"
                            name="amount" class="form-control" id="amount" placeholder="Enter Pledge Amount">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Date Of Recording:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text"
                                value="<%= typeof errorValues != 'undefined' ? errorValues.createOn : '' %>"
                                name="createOn" class="form-control pull-right" id="datepicker">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group col-lg-12">
                        <label>
                            <input type="radio" name="currency" value="RWF" checked>
                            RWF
                        </label>
                        <label>
                            <input type="radio" name="currency" value="USD">
                            USD
                        </label>
                    </div>
                    <div id="currencyRateField" class="form-group col-lg-3">
                        <label for="currencyRate">Currency Rate</label>
                        <input type="number"
                            value="<%= typeof errorValues != 'undefined' ? errorValues.currencyRate : '' %>"
                            name="currencyRate" class="form-control" id="currencyRate"
                            placeholder="Enter USD Currency Rate">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <!-- /.box -->
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Giving Record</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <form role="form" action="/admin/pledges/givings" method="POST">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Members</label>
                            <select class="form-control select2" name="member" style="width: 100%;">
                                <option selected="selected">None</option>
                                <% for(let member of members){  %>
                                <option value="<%= member._id %>"><%= member.firstname%> <%= member.lastname%>
                                    (<%= typeof member.fellowship != 'undefined' ? member.fellowship.name : "None" %>)
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Other Giving Categories</label>
                            <select class="form-control select2" name="giving" style="width: 100%;">
                                <option selected="selected">None</option>
                                <% for(let givingCategory of givingCategories){  %>
                                <option value="<%= givingCategory._id %>"><%= givingCategory.name%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" class="form-control" id="amount"
                            placeholder="Enter Pledge Amount">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <!-- /.box -->
        </div>
    </div>
</section>

<!-- /.content -->

<%- include('../includes/footer.ejs') %>